@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

html {
  visibility: hidden;
  font-family: yu-gothic-pr6n, sans-serif;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

body {
  display: flex;
  justify-content: center;
}

#blog {
  margin: 3em 0;
  width: 80%;
}

h1 {
  border-bottom: 0.08em black solid;
}

h2, h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.3em;
}

hr {
  border: none;
  border-bottom: 0.05em black solid;
}

p {
  margin-top: 0;
}

a {
  color: gray;
  text-decoration: none;
}