html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  background-color: #eee;
}

html * {
  visibility: hidden;
}
html.wf-active * {
  visibility: visible;
}

body {
  padding: 0;
  margin: 0;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
}

#uniIndexRoot {
  width: 100%;
}

@media screen and (max-width: 600px) {
  #uniArticleRoot {
    margin: 3em 0;
    width: 100%;
    max-width: 1000px;
  }
  article {
    background-color: white;
    padding: 2em 4em;
    margin-top: 40px;
  }
}
@media screen and (min-width: 600px) {
  #uniArticleRoot {
    margin: 3em 0;
    width: 80%;
    max-width: 1000px;
  }
  article {
    background-color: white;
    border-radius: 16px;
    padding: 2em 4em;
    margin-top: 40px;
  }
}

h1 {
  font-size: 28px;
  font-weight: 400;
  border-bottom: 1.5px #ddd solid;
  padding-bottom: 12px;
}

.blog-name {
  border: none;
  text-align: center;
  margin: 1em 0 0;
}

h2 {
  padding: 0;
  margin: 0.8em 0 0.4em;
  font-weight: 400;
  font-size: 24px;
}

h3 {
  padding: 0;
  margin: 0.8em 0 0.4em;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border: none;
  border-bottom: 0.05em #ddd solid;
}

p {
  margin: 0.8em 0;
  font-size: 16px;
  line-height: 28px;
}

a {
  color: gray;
  font-size: 16px;
  text-decoration: underline;
}

sup a {
  font-size: 14px;
  text-decoration: none;
}

.footnote_ordered-list:target {
  background-color: #edd;
}

.footnote_header {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-top: 80px;
}

.footnote_ordered-list {
  list-style-type: decimal;
  padding-inline-start: 25px;
}

.footnote_ordered-list li {
  font-size: 16px;
  margin: 0;
  padding: 0 4px;
}

.footnote_ordered-list li::marker {
  font-weight: 400;
}

footer {
  color: gray;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

footer a {
  font-size: 14px;
}

footer small {
  margin: 1em 0;
}

.blog-description {
  margin: 0 2em;
  color:gray;
  text-align: center;
  font-size: 14px;
}

.articleCards,
.dailyCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.articleCard {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-radius: 15px;
  width: 400px;
  max-width: 80%;
  background-color: white;
  margin: 12px 20px;
  height: 320px;
}

.dailyCards .articleCard {
  height: 250px;
  width: 350px;
}

.articleCard a {
  text-decoration: none;
}

.articleCard h3 {
  margin: 10px 0;
  font-weight: 400;
}

.articleCard:hover {
  -webkit-box-shadow: 10px 10px 30px 0 rgba(105, 105, 105, 0.3);
  box-shadow: 10px 10px 30px 0 rgba(105, 105, 105, 0.3);
}

.articleCard__thumbnail {
  width: 100%;
  height: 45%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.dailyCards .articleCard__thumbnail {
  height: 55%;
}

.articleCard__body {
  padding: 0 20px;
}

.articleCard__body--title {
  line-height: 140%;
  color: black;
}

.articleCard__body--overview {
  margin-bottom: 18px;
  font-size: small;
}

.articleCard__body--tags {
  padding-top: 8px;
}

.articleCard__body--tag {
  border: 1px gray solid;
  border-radius: 10px;
  padding: 3px 12px;
  font-size: small;
  margin: 0 4px;
}

.articleCard__body--date {
  font-size: small;
  text-align: right;
  margin-bottom: 0;
}

.new-article {
  width: 80%;
  margin: 36px 10% 20px;
  color: gray;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-article::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid gray;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  margin: auto;
}

.title {
  text-align: center;
}

.title h1 {
  border: none;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.title_overview {
  font-size: 14px;
  padding: 0 1em;
  margin: 0;
}

.title_date {
  font-size: 14px;
  padding: 0 1em;
  margin: 0;
}