@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  background-color: #eee;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #444;
}

@media screen and (max-width: 600px) {
  #uniArticleRoot {
    margin: 3em 0;
    width: 100%;
    max-width: 1000px;
  }
  article {
    background-color: white;
    padding: 2em 4em;
  }
}
@media screen and (min-width: 600px) {
  #uniArticleRoot {
    margin: 3em 0;
    width: 80%;
    max-width: 1000px;
  }
  article {
    background-color: white;
    border-radius: 16px;
    padding: 2em 4em;
  }
}

h1 {
  font-size: 28px;
  font-weight: 400;
  border-bottom: 1.5px #ddd solid;
  padding-bottom: 12px;
}

h2 {
  padding: 0;
  margin: 0.8em 0 0.4em;
  font-weight: 400;
  font-size: 24px;
}

hr {
  border: none;
  border-bottom: 0.05em #ddd solid;
}

p {
  margin: 0.8em 0;
  font-size: 14px;
}

a {
  color: gray;
  font-size: 14px;
  text-decoration: underline;
}

sup a {
  font-size: 12px;
  text-decoration: none;
}

.footnote_ordered-list:target {
  background-color: #edd;
}

.footnote_header {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-top: 80px;
}

.footnote_ordered-list {
  list-style-type: decimal;
  padding-inline-start: 25px;
}

.footnote_ordered-list li {
  font-size: 14px;
  margin: 0;
  padding: 0 4px;
}

.footnote_ordered-list li::marker {
  font-weight: 400;
}

footer {
  color: gray;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}

footer a {
  font-size: 12px;
}

footer small {
  margin: 1em 0;
}