#? stdtmpl | standard
#proc htmlTmpl (body: string): string =
#  result = ""

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog.momee.mt</title>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="./assets/favicon.ico">
    <script>
      (function(d) {
        var config = {
          kitId: 'kls4ksc',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body style="background-color: #e9e9e9;">
    <div id="blog">
      <h1 style="margin:0;">blog.momee.mt</h1>
      <p style="margin: 0; color:gray;">計算機とインディーズバンドとコントが好き、マヨネーズが苦手</p>
      <div class="new-article" style="margin: 24px 0; text-align: center; color: gray; position: relative;">
        <span style="background: #f0ebeb; padding: 0 20px; font-size: 20px;">
          <i class="fas fa-kiwi-bird" style="margin-right: 8px;"></i>
          新しい記事
        </span>
      </div>
      $body
    </div>
  </body>
</html>